[
    {kernel, [
        {log_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => error,
                config => #{
                    type => standard_error
                },
                formatter => {logger_formatter, #{
                    depth => 30
                }}
            }},
            {handler, console_logger, logger_std_h, #{
                level => debug,
                config => #{
                    type => {file, "/var/log/sequences/console.json"},
                    sync_mode_qlen => 20
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},
    {sequences, [
        {automaton_service_url, <<"http://machinegun:8022/v1/automaton">>},
        {ip, "::"},
        {port, 8022},
        {transport_opts, #{
            % same as ranch defaults
            max_connections => 1024
        }},
        {protocol_opts, #{
            % Keepalive timeout
            request_timeout => 6000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {shutdown_timeout, 7000},
        {health_checkers, [
            {erl_health, disk     , ["/", 99]        },
            {erl_health, cg_memory, [99]             },
            {erl_health, service  , [<<"sequences">>]}
        ]}
    ]},
    {scoper, [
        {storage, scoper_storage_logger}
    ]}
].
